  <!-- #hero -->
  <div id="hire-hero" class="hero section">

    <div id="carouselExample" class="carousel slide main-content">
      <div class="carousel-inner">
         
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-6">
              <h2>Indoor Space</h2>
              <h3>
              Space to play, ktchen facilities and more
              </h3>
            </div>
            <div class="col-lg-6">
              <img src="./assets/images/index/hero.png" alt="">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-6">
              <h2>Outdoor Space</h2>
              <h3>
              Space to play, kitchen facilities and more
              </h3>
            </div>
            <div class="col-lg-6">
              <img src="./assets/images/index/hero.png" alt="">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-6">
              <h2>Fun</h2>
              <h3>
              Space to play, ktchen facilities and more
              </h3>
            </div>
            <div class="col-lg-6">
              <img src="./assets/images/index/hero.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> 
</div>

    
  <style>

  #hire-hero { 
    background: var(--theme-color);
    color: var(--white);
  }
  

  
/* -------------- Hero -------------- */
.carousel-indicators li { 
	background: var(--grey); 
	border-radius: 100%;
	width: 8px;
	height: 8px;
	margin: 0px 5px 0px;
}

.carousel-indicators .active { 
	background: var(--white) !important;
}


/* ========================== MEDIA QUERIES: TABLET ========================== */
@media screen and (min-width: 600px) {

/* -------------- Hero -------------- */
.carousel-indicators li { 
  width: 10px;
  height: 10px;
}
}

/* ========================== MEDIA QUERIES: DESKTOP  ========================== */
@media screen and (min-width: 992px) {

/* -------------- Hero -------------- */
.carousel-indicators li { 
  width: 12px;
  height: 12px;

}
}
/* ========================== END MEDIA QUERIES: DESKTOP  ========================== */
</style>