
  <p>
    The Adventure Playground is available for party hire on Sundays. 
    You will have use of the Outdoor Playground Structures, indoor play activities & 
    the kitchen & indoor spaces.
  </p>
  <p>
  If you are looking for educational outdoor spaces, <a href="\contact-us"><span class='theme-txt'>contact us</span></a> to discuss using our Octopus 
  facility with its covered (weatherproof) space in the edible garden. It’s instant inspiration
    for experiential nature-based poetry writing or an applied biology lesson. What will you 
    teach your students here? Alternatively, it would be a wonderful location for a work 
    retreat or yoga!
  </p>

