<!-- #hero -->
<div id="about-hero" class="hero">
  <!-- .main-content -->
  <div class="w3-animate-opacity">

    <!-- #heroCarousel -->
    <div id="heroCarousel" class="carousel slide w3-border" data-ride="carousel">
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img src="assets/images/about/hero.jpg" alt="Styling" class="">
        </div>
    
      </div>
    </div> <!-- End #heroCarousel -->
  </div> <!-- End .main-content -->
</div> <!-- End #hero -->

<style>
/* -------------- Hero -------------- */
.carousel-indicators li { 
	background: var(--darkest-green); 
	border-radius: 100%;
	width: 8px;
	height: 8px;
	margin: 0px 5px 0px;
}

.carousel-indicators .active { 
	border: 1px solid var(--darkest-green); 
	background: var(--white) !important;
}


/* ========================== MEDIA QUERIES: TABLET ========================== */
@media screen and (min-width: 600px) {

/* -------------- Hero -------------- */
.carousel-indicators li { 
  width: 10px;
  height: 10px;
}
}

/* ========================== MEDIA QUERIES: DESKTOP  ========================== */
@media screen and (min-width: 992px) {

/* -------------- Hero -------------- */
.carousel-indicators li { 
  width: 12px;
  height: 12px;

}
}
/* ========================== END MEDIA QUERIES: DESKTOP  ========================== */
</style>