<div id="history" class="row">
  <div class="col-lg-7">
    <article>
      <h2>Our History</h2>
      <p class="w3-margin-bottom">
        Just turn up! All you need to do is <a href="#">register</a> and sign in.  Staff are on hand to ensure your safety and enhance everyone’s play experiences.  Parents and carers are welcome.
</p>
<p>
  Childcare groups and play schemes are also welcome but we ask that you contact us to book first to avoid overcrowding.
</p>
</article>
  </div>
  <div class="col-lg-5 text-center">
    <aside>
      <img src="assets/images/about/circles-swing.png" alt="Parees Taylor" title="Parees Taylor" />

     </aside> <!-- End figure -->
  </div>
</div>
