<div class="row">
  <div class="col-lg-7">
    <article>
      <h2>Want To Come Along?</h2>
      <p class="w3-margin-bottom">
        Just turn up! All you need to do is <a href="#">register</a> and sign in.  Staff are on hand to ensure your safety and enhance everyone’s play experiences.  Parents and carers are welcome.
</p>
<p>
  Childcare groups and play schemes are also welcome but we ask that you contact us to book first to avoid overcrowding.
</p>
<button class="btn">Contact Us</button>
</article>
  </div>
  <div class="col-lg-5 text-center">
    <aside>
      <img src="assets/images/about/circles-swing.png" alt="Parees Taylor" title="Parees Taylor" />

     </aside> <!-- End figure -->
  </div>
</div>


<style>
/* -------------- About -------------- */
#about { background: var(--light-grey); }

#about img {
	 width: 60%;
	 max-width: 250px;
}


/* ========================== MEDIA QUERIES: PHONE ========================== */
@media screen and (max-width: 480px) {
	body {
		min-width: 320px;
	}
}


/* ========================== MEDIA QUERIES: TABLET ========================== */
@media screen and (max-width: 800px) {
	/* -------------- About -------------- */
	#about img {
		width: 100%;
    padding-top: 2.5em;
	}
}

/* ========================== MEDIA QUERIES: DESKTOP  ========================== */
@media screen and (min-width: 992px) {
/* -------------- About -------------- */
#about img {
  width: 60%;
  padding-top: 2em;
}

}

/* ========================== END MEDIA QUERIES: DESKTOP  ========================== */
</style>