
<div class="row">
  <div class="col-lg-6">
    <article>
      <h2>Important Information</h2>
      <p class="w3-margin-bottom">
        View and download a copy of our safeguarding policy.
</p>
<ion-button>Safegaurding Policy</ion-button>
<p>
  If you have any questions about our work or our plans for the future please don’t hesitate to <a href="#">get in touch</a>.
</p>

</article>
  </div>
  <div class="col-lg-6 text-center">
    <aside>
      <img src="assets/images/about/safeguarding.jpg" alt="Child on swing" title="Parees Taylor" />

    </aside> <!-- End figure -->
  </div>
</div>
