<div class="row">
  <div class="col-lg-7">
    <article>
      <h2>So Much To Do</h2>
      <p class="w3-margin-bottom">
        There’s a big emphasis on outdoor play with gardening and the Edible Playground as well as our exciting structures and free play. You can also come inside and try arts and crafts, cookery, table tennis and much more.
</p>

<dl class="bullet-list">
  <dt>Recent activities, events & projects include:</dt>
  <dd>In partnership with Urban Growth we built a new growing area, pond and greenhouse & teach children and young people to gardening skills</dd>
  <dd>Bee Urban and our thriving bee hives produced over 120kg of delicious Slade Gardens Adventure Playground Honey – come in & try some! We sell our honey too.</dd>
  <dd>Brixton Chamber Orchestra held a concert.</dd>
  <dd>We had a community Sports Day in the summer.</dd>
  <dd>We love bringing the community together for Bonfire Night too.</dd>
  <dd>Last year we visited Clip & Climb, Flip Out Trampoline Park, Crystal Palace, Myatts Field Water Park, Vauxhall City Farm, went bowling, went to the movies, had a slime making workshop, made brilliant things out of scrap & recycling, designed T-shirts and much more besides</dd>
</dl>
</article>
  </div>
  <div class="col-lg-5">
    <aside class="w3-center">
      <img src="assets/images/about/circles-garden1.png" alt="Parees Taylor" title="Parees Taylor" />

    </aside> 
  </div>
</div>
