<div class="row">
  <div class="col-lg-6">
     
    {{ trustees }}
    <article id="past-trustees">
      <h2>Past trustees</h2>
      <p>In April 2023 we said goodbye to two amazing trustees Robin Langton, who stepped down as Chair, and Veronica Plowden, who was Secretary.  They have poured their heart and soul into Slade Adventure Playgrounds. Our community is forever grateful for all that they have done over the years. Together, with a team of then concerned locals, they formed this charity in the 90s to keep the adventure playground open. 

      </p>
      <p>
        Thank you also to <b>Crispin Royle Davies</b> our most recent Treasurer and <b>Annabel Elkington</b> previously Co-Chair.
      </p>
      <p>
        All our trustees, past and present, make a positive difference to the lives of neighbourhood children. Thank you.
      </p>
    </article>
    <article id="past-trustees">

    </article>
    <article id="staff">
      <h2>Staff</h2>
      <p>Jamie Young, Playground Manager, works Mondays-Fridays and is the first port of call for all enquires.</p>
      <p>The Charity Director Cadella Patterson works Mondays-Thursdays 10am – 2pm.</p>
     <p>
      Our team of dedicated playworkers are here to help and enhance every visit.
     </p>
      <p>
        Anke Zeller manages the Edible garden, gardening club and education workshops.
      </p>
    </article>
  </div>
  <div class="col-lg-6">
    <img src="assets/images/about/staff-group-summer.jpg" alt="Parees Taylor" title="Staff summer group" />
    <article>
      <h2>Membership</h2>
      <p>
        There is no charge for membership – it’s FREE to be a member. Members vote at AGMs and can have an active and crucial role in how we work!
      </p>
      <p>Members must be 18 years of age or older and support the Charity’s work for the children of Lambeth as set out in the Constitution and the Community Service Agreement.</p>
      <p>
        When you register as a user family, you automatically become a member.
      </p>
      <p>
        As a community charitable organisation, we encourage all members of our community, be it caregivers, local schools, friends or neighbours to join the association to have representation and have a vote at our AGMs.
      </p>
      <p>
        We are your community.
Please get involved.
We’re better together.
Everyone is welcome.
      </p>
      <button class="btn">Become a member</button>
    </article>
  </div>
</div>



<style>

#about img {
	 width: 60%;
	 max-width: 250px;
}

/* ========================== MEDIA QUERIES: PHONE ========================== */
@media screen and (max-width: 480px) {
	body {
		min-width: 320px;
	}
}


/* ========================== MEDIA QUERIES: TABLET ========================== */
@media screen and (max-width: 800px) {
	/* -------------- About -------------- */
	#about img {
		width: 100%;
    padding-top: 2.5em;
	}
}

/* ========================== MEDIA QUERIES: DESKTOP  ========================== */
@media screen and (min-width: 992px) {
/* -------------- About -------------- */
#about img {
  width: 60%;
  padding-top: 2em;
}

}

/* ========================== END MEDIA QUERIES: DESKTOP  ========================== */
</style>