<div class="row">
  <div class="col-lg-6">
    <article>
      <h2>Who Uses Us</h2>
    <p class="w3-margin-bottom">
      During the holidays we average over 100 children each day.
      </p>
      <p>
      Over the year we have well over 4,000 visits to the playground alone. While we do not target a particular ethnic group 72% of the children that use us are from Black and multi ethnic groups.
      </p>
      <dl class="">
      <dt>Registration data:</dt>
      <dd>80% of children were aged 6 – 10 years old and 20% were aged 11+.</dd>
      <dd>50% of the children were boys and 50% were girls.</dd>
      <dd>Children attend a wide range of schools; 80+.</dd>
      <dd>About 75% of our families qualify for Free School Meals.</dd>
      <dd>About 20% are SEND families.</dd>
      </dl>
    </article>
  </div>
  <div class="col-lg-6">
    <aside class="text-center">
      <dl id="stats" class="ion-text-center">
        <dt>100</dt>
        <dd>children per day</dd>
        <dt>4000</dt>
        <dd>Visits per year</dd>
        <dt>72%</dt>
        <dd>Black &amp; multi ethnic groups</dd>
      </dl>
    </aside> <!-- End figure -->
  </div>
</div>

<style>

/*------------------------------------------------------------------ 
	USAGE  
-------------------------------------------------------------------*/
#stats dl{
  font-weight: bold;
  text-transform: uppercase
} 

#stats dt{
  font-weight: bold;
  font-size: 2.8em;
  padding-top: 1em
} 

#stats dd {
  color: var(--yellow);
  padding: 0
} 

/* ========================== MEDIA QUERIES: PHONE ========================== */
@media screen and (max-width: 480px) {
	body {
		min-width: 320px;
	}
}


/* ========================== MEDIA QUERIES: TABLET ========================== */
@media screen and (max-width: 800px) {
	/* -------------- About -------------- */
	#about img {
		width: 100%;
    padding-top: 2.5em;
	}
}

/* ========================== MEDIA QUERIES: DESKTOP  ========================== */
@media screen and (min-width: 992px) {
/* -------------- About -------------- */
#about img {
  width: 60%;
  padding-top: 2em;
}

}

/* ========================== END MEDIA QUERIES: DESKTOP  ========================== */
</style>