<div class="row">
  <div class="col-lg-7">
    <article>
    <h2><span>About</span> Us</h2>
    <p>
      Our Adventure Playground offers over an acre of safe, staffed space where children & young people can come to play, make new friends, develop skills & try new things.
    </p>
    <p>
  
  
  We are open to children of every background between the ages of 6 – 16.
  </p>
  <dl class="bullet-list">
    <dt>We believe</dt>
    <dd>Children thrive with positive social interactions</dd>
    <dd>Play helps children develop responsibility through risk</dd>
    <dd>Children can pdevelop strong social skills and positive connections by playing freely </dd>
    <dd>Children need space to take responsibility, explore and challenge themselves</dd>
  </dl>
  <p>We also have a Under 5s Stay and Play program, community volunteer days in our edible garden, corporate volunteer opportunities, 17-21 employment and training programs, and rent our premises for parties.</p>
</article>

<article id="mission">
  <h2>Our <span>Mission</span></h2>
  <p>
    We believe that children in the borough of Lambeth between the ages of one and twenty-one have the right to play freely and safely in a healthy outdoor environment. We believe such activity is important to their social, mental and physical well being and as such contributes to their present and future lives.5
  </p>
 
</article>
  </div>
  <div class="col-lg-5 text-center">
    <aside>
      <img src="assets/images/about/circles-win.png" alt="">
    </aside>
  </div>
</div>

<style>
  /* -------------- Welcome -------------- */
#mission { 
  margin-top: 2em;}
  
#mission p { border-left: 3px solid var(--theme-color-light); padding-left: 1.6em;}

</style>