/*
	CSS for Car Repair 
	By Leroy Russell
*/

/* -------------------------------- IMPORT FONTS -------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Carter+One");
@import url("https://fonts.googleapis.com/css?family=Lato");

/* -------------------------------- IMPORT FILES -------------------------------- */
@import url("font-awesome.min.css");

/* -------------------------------- CSS RESET -------------------------------- */
/* margin, padding and font size */
html, body, h1, h2, h3, h4, h5, h6, p, section, article, blockquote, figure, figcaption, ul, ol, li, a, table, th, tr, td, dl, dt, dd, form, label, legend, img, div, header, section, article, main, aside, footer, nav, span, em, audio, video, page {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* Set width and display */
section, article, header, footer, nav, aside, main, figure, div, figcaption {
  display: block;
  width: 100%;
}

/* Border styling */
img, fieldset {
  border: none;
}

/* List styling */
ul, ol, li {
  list-style-type: none;
}

/* Link decoration */
a, a:hover, a:focus{
  text-decoration: none;
	color: #fff;
}

img { width: 100%; }

/* Links */
a { 
  text-decoration: none;
  color: #5389bc; }

/* Text decoration and cursor for links */
a:hover {
  /* Set cursor for hover over link */
  text-decoration: none;
  cursor: pointer;
  color: #0e4577; }

/* Text decoration and cursor for links */
a:focus {
  /* Set cursor for hover over link */
  text-decoration: underline;
  color: #0e4577; }

a:visited {
  /* Set cursor for hover over link */
  text-decoration: underline;
  color: #875e9b; }

/* -------------------------------- PAGE DEFAULTS -------------------------------- */
/* HTML scrolling */
/* Basic */
@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

	html, body {
		min-width: 320px;
	}

}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  background: #000 !important;
}

#page { background: #000 !important; }

/* Body styling */
body {
  font-size: 16px;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #f2f2f2;
  background: #191c21 !important;
  /* For browsers that do not support gradients */
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: justify;
}

h1, h2, h3 { 
	margin-top: 10px;
	color: #f2f2f2;
	font-family: 'Architects Daughter', sans-serif;
	font-family: 'Chelsea Market', cursive; 
	font-family: 'Carter One', cursive; }

h2 { 
	font-size: 1.3em;
	font-weight: bolder;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center; }

h3 {
	font-size: 1.2em;
	font-weight: bolder;
	padding-bottom: 5px; }

dt { 
	color: #3f3f3f;
	font-family: 'Chelsea Market', cursive; }

#services, #work, #work-img, #about, #stroke-bottom, #contact { 
	display: none; }

#introduction, #introduction-work, #services, #work, #about, #contact { 
	background: #191c21;
	color: #f2f2f2; }

.spacing {
	padding: 50px 20px;
	text-align: justify;
	overflow: hidden; }

.spacing-t {
	padding: 60px 20px 10px 20px;
	text-align: justify;
	overflow: hidden; }

/* Themes color for background */
.theme-grad { background: linear-gradient(#ea8f02, #cc6301); }

.theme-grad2 { background: linear-gradient(#ea8f02, #a75000); }
.theme-grad { background: #cc6301; }

.theme-text-light { color: #ea8f02; }

.theme-text-dark { color: #cc6301; }

.background-lightgrey { background: #eeeeee; }

.background-white { background: #ffffff; }

.active, .portfolio-link:focus { 
	color: #ea8f02 !important; }

#banner .active { 
	color: #fff!important;
	font-weight: bold; }

/* ------------------------------ SKIPLINKS ------------------------------ */ 
.skiplink { 
	position: absolute; 
	left: -10000px; } 

.skiplink:focus, .skiplink-nav:focus { 
	left: 0; 
	color: #000; }

.skiplink-nav:focus { 
	position: relative; 
	left: 0; 
	color: #3f3f3f; }

#toTop {
    text-align: center;
    padding: 10px;
    margin: auto;
    background: #141414;
    color: #1b3c6a !important; }

/* Skiplink */
#toTop:hover, #toTop a:hover {
    background: #3f3f3f;
    color: white; }

/* -------------------------------- NAVIGATION -------------------------------- */
#header ul { 
	width: 100%;
	margin-top: -30px; }

#header li { 
	padding: 10px; 
	display: inline; }

#primarynav {
	 overflow: hidden;
	 background-color: #3f3f3f;
	 background-color: #000;
	 padding: 0px 10px 5px 10px;
	 text-align: center;
	 width: 100%;
	 z-index: 1;
	 transition: top 0.3s; }

/* Navbar links */
#primarynav a {
	display: inline;
	color: #adadad;
	text-align: center;
	padding: 14px;
	text-decoration: none; 
	font-family: 'Carter One'; 
}

#primarynav #mini-nav { 
	padding: 0px;
	font-size: 26px; }

#nav-links { margin-top: 10px; }

#navbar { margin-top: 40px; }

#mini-nav { 
	color: orange !important;
	margin-top: -5px; }

#mini-nav .close { 
	display: none; }

#logo { 
	width: 100px; 
	margin-top: -5px;
	float: left}

/* -------------------------------- BANNER -------------------------------- */
#banner-services, #banner-work { display: none; }

#banner { 
	background: #000;
	background: url("../images/banner/fog.png") no-repeat; 
	background-size: cover; 
	width: 100%;
	display: block;
	padding: 60px 20px;
}

.page-banner { padding: 25px; }

.page-banner img { 
	position: absolute;
	width: 120px !important;
	margin-top: -90px !important;
	left: 0; }

.page-banner h2 { 
	text-align: right;
	font-size: 2em;
	margin-bottom: 0;
}

#banner h1 { 
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.5em !important; }

.banner-text { 
	width: 500px;
	color: #f2f2f2;
	margin-top: 50px;
	top: 0px;
	left: 10px; }

#banner p { margin-bottom: 20px; }

#banner .w3-badge { 
	width: 30px; 
	height: 30px; 
	padding: 6px 0px;
	background: #777; 
	margin-right: 10px; }

#banner i { 
	color: #777; 
	font-size: 16px;
    margin-right: 5px;
	padding: 0px; }

#banner .w3-badge:hover, #banner a:hover{ box-shadow: 0px 0px 4px 0px #141414; }

#banner a { 
	margin: auto;
	margin-top: 20px; }

#banner img { 
	width: 80%;
	margin: auto; 
	margin-top: 50px; 
	margin-left: 200px; }

/* -------------------------------- INDEX PAGE -------------------------------- */
#service-preview { 
	padding-bottom: 50px;
	}

#service-preview, #service-preview h3 { 
	color: rgb(54, 54, 54); }

#main { 
	background: #191c21 !important; }

#service-preview, .page-banner {
	background: #e28f18;
}

#service-preview #wheel, #service-preview #scuff, #service-preview #smart { padding: 10px; }

#banner a, 
#introduction a, 
#introduction-work a 
{ 
	width: 200px;
	margin: auto;
	display: block;
	border-radius: 3px;
	padding: 10px 20px 10px 20px; 
	font-size: 10px;
	font-weight: 500; 
	background: linear-gradient(#3f3f3f, #141414);
	color: #f2f2f2; 
	border: 1px solid #ea8f02;
}

#banner a:hover, 
#introduction a:hover, 
#introduction-work a:hover 
{ 
	box-shadow: 0px 0px 4px 0px #141414; 
	background: linear-gradient(#ea8f02, #ea8f02);
	color: #f2f2f2;
	border: 1px solid #000; }

#introduction .services-link { margin-top: 30px; }

#introduction img { width: 100%; }

#service-preview,  #service-preview h3 { color: #303030 ; }

#service-preview img { 
	width: 100px;
	margin-top: 30px !important; }

#introduction-work img { 
	width: 90%;
	margin-bottom: 40px; }

#introduction-work img { 
	border-radius: 5px;
	box-shadow: 0px 0px 4px 0px #141414;
	border: 1px solid #141414; }

#more-about { padding-top: 60px; }

/* -------------------------------- SERVICES PAGE -------------------------------- */
/* Service */
#services-list h3 { 
	margin-top: 20px;
	text-align: center; }

#services-list img { 
	width: 15%;
	display: block;
	margin: auto; 
	margin-top: 20px;}

#services-list .price { 
	text-align: center !important;
	font-size: 0.9em;
	padding: 0px 0px 10px 0px;
	color: #ea8f02; }

/* -------------------------------- WORK PAGE -------------------------------- */
.info-link {
	color: #ea8f02 !important; 
	text-decoration-line: underline !important;
}

.info-link:hover, .info-link:focus { cursor: pointer; }

#work, #work h2 { color: #f2f2f2; }

#work .our-work img { width: 100%; }

#work .our-work .w3-col { padding: 0px 10px 0px 10px; }

#work .w3-card { margin-bottom: 30px; }

#work .w3-card h3 { 
	background: #66a1d7;
	background: none;
	color: #ea8f02; 
    font-size: 1em;
	padding: 10px; }

#work .w3-card p { 
	background: #f2f2f2;
	color: #3f3f3f;
	padding: 10px; }

#work button { 
	width: 100%;
	color: #f2f2f2; 
	margin: auto;
	background: #3f3f3f;
	border-top: 1px solid #d5d5d5;
	padding: 10px 20px 10px 20px; 
	font-size: 0.9em; 
	font-weight: 600; }

#work button:hover { 
	background: linear-gradient(#ea8f02, #cc6301); 
	color: #ffffff; }

.w3-modal { background: rgb(0,0,0, 0.7); }

.w3-modal-content { 
	background: #141414; }

.w3-modal header h2 { 
	font-size: 1em;
	padding-top: 20px;
	margin: 0px; 
	color: #ea8f02; }

.w3-modal p { 
	text-align: justify;
	padding: 10px; }

.w3-modal img { 
	width: 90%;
	padding: 10px 0px 20px 0px; }

.w3-modal i { 
	font-size: 17px;
	font-weight: bold; 
	color: #3f3f3f; 
	border: 2px solid #ea8f02; 
	width: 30px;
	height: 30px;
	border-radius: 100%; 
	background: #fff;
	margin-right: -26px; 
	margin-top: -10px; 
	overflow: hidden;
	padding: 5px; }

.w3-modal span:hover { cursor: pointer; }

#iveco-cabin { display: inline-block }

/* Buttons */
#work .prev,
#work .next {
    width: 10px;
    padding: 10px 20px 10px 10px;
    margin-top: -140px;
    background: black;
	background: linear-gradient(#ea8f02, #cc6301); 
    color: #fff;
    opacity: 0.5;
	font-size: 1.5em; }

#work .next {
    float: right;
    position: relative; }

#work .prev {
    float: left;
    position: relative; }

/* Buttons hover */
#work .prev:hover,
#work .next:hover {
    opacity: 1;
    cursor: pointer; }

/* Dots */
.dots {
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    background: none;
    padding: 20px 0px; }

.dots .slideDemo1, .dots .slideDemo2, .dots .slideDemo3, .dots .slideDemo4,.dots .slideDemo5 {
    width: 12px;
    height: 8px;
    font-size: 0.7em;
    margin-right: 10px;
    border-radius: 100%;
	color: #fff;
    padding: 5px 8px; }

.active-dot { 
	background: linear-gradient(#ea8f02, #cc6301);
	color: #fff;}

/* -------------------------------- ABOUT PAGE -------------------------------- */
.about-bg { background: #ffffff;}

#inroduction a, #services a, #work a { 
	width: 100px;
	color: #777; 
	margin: auto;
	background: #fafafa;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 15px 30px 15px 30px; 
	font-size: 0.9em; }

/* -------------------------------- CONTACT -------------------------------- */
.contact-bg { 
	color: #fff;
	background: #424856;
	background: #ffffff; }

#contact { padding-bottom: 50px; }

#contact h2, #contact dt { font-weight: bold; }

#contact dt { 
	color: #eee;
	font-family: "Carter One"; }

#contact h2 { font-size: 1.8em; }

#contact .w3-badge {
	text-align: center; 
	width: 60px;
	height: 60px;
	margin: auto; 
	margin-top: 30px; 
	margin-bottom: 10px; }

#contact .w3-badge:hover { 
	transform: scale(1.1); }

#phone, #email { margin-top: 20px; }

#phone dd, #email dd { 
	margin-top: 10px;
	font-size: 1em;
	font-weight: 400; }

#contact i { 
	padding: 16px 10px;
	font-size: 23px;
	color: #ffffff;; }

/* -------------------------------- FOOTER-------------------------------- */
/* Footer */
footer {
    text-align: center;
    background: #141414;
    color: #ffffff;
    padding: 30px 10px 10px 10px; }

footer img { 
    width: 20px; 
	margin: 0px 10px; 
	border-radius: 5px;
	opacity: 0.4; }

footer img:hover { 
	opacity: 1; 
	transform: scale(1.1); }

footer h3 { 
	margin-top: 10px; 
	margin-bottom: 20px; 
	color: #eee;
	font-weight: bold; }

footer .sociallinks { padding: 30px 10px; }

footer #copyright, #footer #copyright2 {
	margin: 50px 0px 10px 0px;
	color: #adadad;
	font-size: 0.8em; }


/* -------------------------------- MEDIA QUERIES: Tablet -------------------------------- */
@media only screen and (min-width: 600px) {

	#logo { 
		width: 110px; }

	#primarynav #mini-nav { 
		margin-top: -10px;
		padding: 0px;
		font-size: 30px; }
	
	#primarynav { 
		padding-top: 0px;
		padding-bottom: 0px; }

	/* Navigation */
	#navlinks { margin: 0px; }
	
	#navlinks a { 
		padding-top: 0px; 
		margin-top: -10px !important; }
	
	/* Banner */
	#banner {
		padding: 30px 20px 50px 20px;
		font-size: 0.8em; }
	
	.page-banner { padding: 40px; }

	.page-banner img { 
		width: 190px !important;
		margin-top: -130px !important;
		margin-left: 60px !important;
		left: 0; }
	
	.page-banner h2 { 
		font-size: 2.4em;
	}
	
	#banner a { 
		margin-top: 20px; }
	
	/* Font */
	#banner h1 { font-size: 1.8em !important; }
	
	#banner img { 
		width: 450px;
		margin: auto;
		margin-top: 40px; 
		margin-left: 350px; }
	
	#more-about { padding-top: 0px; }

	#service-preview { 
		padding-bottom: 40px;
	}
	
	#service-preview img { 
		width: 100px;
		margin-top: 25px !important; }
	
	#service-preview h3 { 
		font-size: 1.2em; }
	
	/* Service */
	#services-list h2 { 
		margin: 0px; }
	
	h2 { font-size: 1.5em; }
	
	#services-list .price { 
		text-align: left !important;
		font-size: 1.1em !important;
		padding: 0px 0px 10px 0px; }
	
	/* Service */
	#services-list h3 { 
		margin-top: 20px;
		text-align: left; }
	
	#services-list img { 
		margin-top: 25px;
		width: 60px; }
	
	/* Work */
	/* Work */
	#work .w3-modal-content { 
		max-width: 500px;  }
	
	#work .prev, #work .next { margin-top: -200px;  }
	
	#work .our-work .w3-col { padding: 0px 20px 0px 20px; }
	
	/* Contact */
	#contact i { 
		padding: 16px 10px;
		font-size: 23px;
		color: #ffffff;; }
}

/* -------------------------------- MEDIA QUERIES: Tablet -------------------------------- */
@media only screen and (min-width: 400px) {
	
	/* Font */
	#banner h1 { font-size: 1.2em; }

}

/* -------------------------------- MEDIA QUERIES: Desktop -------------------------------- */
@media only screen and (min-width: 991px) {
	
	.main-content { 
		width: 75%;
		max-width: 80em;
		margin: auto; }
		
	.spacing {
		padding: 80px 20px; }
	
	.spacing-t {
		padding: 80px 20px 10px 20px; }
	
	/* Navigation */
	#primarynav { padding-bottom: 10px !important; }
	
	#navlinks { width: 100%; }
	
	#primarynav a { 
		padding-top: 15px; 
		padding-left: 0px; 
		margin-top: -10px !important; 
		font-size: 0.9em !important;
		}

	#banner { 
		background: #000;
		background: url("../images/banner/fog.png") no-repeat; 
		background-size: cover; 
		padding: 80px 40px 100px 40px;
		width: 100%;
	}

	.page-banner img { 
		width: 220px !important;
		margin-top: -130px !important;
		margin-left: 40px !important;
		left: 0; }
	
	.page-banner h2 { 
		font-size: 2.6em;
	}
	
	#banner a { font-size: 0.8em; }
	
	/* Font */
	#banner h1 { font-size: 1.4em !important; }
	
	#banner img { 
		width: 100%;
		margin: auto;
		margin-top: 10px; 
		margin-left: 200px; }
	
	h2 { font-size: 1.8em; }
	
	#introduction a, #introduction-work a {
		font-size: 0.8em;
	}
		
	#introduction {
		padding-bottom: 30px;
	}
	
	#service-preview img { width: 120px; }
	
	/* Service */
	#services-list h3 { 
		margin-top: 20px;
		text-align: left; }
	
	#services-list .price { 
		text-align: left !important;
		font-size: 1em;
		padding: 0px 0px 10px 0px; }
	
	#services-list img { 
		margin-top: 20px;
		width: 80px; }
	
	#work .our-work .w3-col { padding: 0px 40px 0px 40px; }
	
	#work .prev, #work .next { margin-top: -200px;  }

	.w3-modal .w3-container { box-shadow: 0px 0px 10px 0px #000; }

	/* Contact */
	#contact .w3-badge {
		width: 50px;
		height: 50px;
		margin: auto; 
		margin-top: 20px; 
		margin-bottom: 10px; }
	
	#contact i { 
		padding: 15px 5px;
		font-size: 20px; }
}

/* -------------------------------- END CSS -------------------------------- */