
  <!-- #hero -->
<div id="index-hero" class="hero section">
  <div class="row main-content">
    <div class="col-lg-6">
      <h2> We Are Open</h2>
      <h3>
       Drama, Dance, Gardening, Arts & Craft and lots more.
       Join us in the adventure - a child’s paradise!
         </h3>
         <button class="btn" href="#events">What's on</button>
    
    </div>
    <div class="col-lg-6">
      <img src="assets/images/index/hero.png" alt="Styling" class="">
     
    </div>
  </div>

</div> <!-- End #hero -->


<style>
#donate { 
  background-color: var(--theme-color-light);
  margin-top: 3em;
  color: var(--white);
padding: 1em;}

#donate p { margin: 0; padding-top: 8px !important}

#donate ion-button { font-size: 0.9em !important}

#index-hero { 
  background: url('assets/images/index/hero-bg.jpg');
  background: linear-gradient(rgb(139, 190, 217), rgb(139, 190, 217));
  
}


/* ========================== MEDIA QUERIES: TABLET ========================== */
@media screen and (min-width: 600px) {

/* -------------- Hero -------------- */
.carousel-indicators li { 
  width: 10px;
  height: 10px;
}

}

/* ========================== MEDIA QUERIES: DESKTOP  ========================== */
@media screen and (min-width: 992px) {

/* -------------- Hero -------------- */
.carousel-indicators li { 
  width: 12px;
}


}
/* ========================== END MEDIA QUERIES: DESKTOP  ========================== */
</style>