<article class="p-3">
<div class="row">
  <div class="col-md-6 col-lg-12">
    <dl>
      <dt class="list-title">Holiday Hours</dt>
      <dd>We are open! Visit What’s on for more information.</dd>
    </dl>
    <dl>
      <dt>Adventure Playground</dt>
      <dd> Monday to Friday 10.00 – 17.00
        Saturday 11.00 – 16.00</dd>
    </dl>
    <dl>
      <dt>Under 5s Stay & Play</dt>
      <dd>Wednesday to Friday 10.00 – 13.00
      </dd>
    </dl>
    <dl>
      <dt>Family Garden Volunteers</dt>
      <dd>Saturday 11.00 – 14.00</dd>
    </dl>
  </div>
  <div class="col-md-6 col-lg-12">
        
  <dl class="bullet-list">
    <dt class="list-title">Safety measures</dt>
    <dd>Hand sanitizer station</dd>
    <dd>All equipment regularly deep cleaned and disinfected</dd>
    <dd>Safeguarding Policy</dd>
    <dd>First Aid Trained Play Workers</dd>
  </dl>
  
  </div>
 
</div>

  
</article>

<style>

#opening-times {
  margin: 0em
}
/* -------------- Opening times page -------------- */
#opening-times dl {
  width: 100%;
  font-size: 0.8em;
}

#opening-times ion-icon {
	padding-right: 10px;
	margin-bottom: -5px;
	font-size: 20px !important;
	color: var(--darkest-green);
}

#opening-times .list-title {
	font-size: 2em;
	text-align: left;
	font-family: 'Architects Daughter';
	font-family: 'Viga';
	font-family: 'Raleway';
}

#opening-times dt {
	font-size: 1.4em;
}

#opening-times dd {
	text-align: left;
	padding-top: 5px;
	font-family: 'Architects Daughter';
	font-family: 'Viga';
	font-family: 'Viga';
}


/* ========================== MEDIA QUERIES: DESKTOP  ========================== */
@media screen and (min-width: 992px) {

  #opening-times { margin: 3em }
  
}
/* ========================== END MEDIA QUERIES: DESKTOP  ========================== */
</style>