<article>
  <h2>What's On</h2>

  <div class="row" id="">
     
    {{ serviceList }}

  </div>

</article>
   
<style>
/* -------------- Service -------------- */
.event {
	margin: auto;
	border: 1px solid var(--light-grey);
  border-radius: 5px;
	box-shadow: none;
  height: 100% !important;
  margin: 20px 0px !important;
  max-width: 100%;
}

.event ion-card-content {
	padding: 2em;
}

.event:hover {
	box-shadow: 0px 0px 15px 0px var(--light-grey);
}

.event h3 { font-weight: bold; font-size: 1em;}

</style>