
   <div class="row">
<div class="col-12">
  <h2>Welcome to <span>the adventure</span></h2>
  <p class="w3-margin-bottom">
    Our Adventure Playground offers over an acre of safe, staffed space where children & young people can come to play, build confidence, make new friends, develop skills & try new things.
</p>
 
<p>
  We are open to children and young people of every background between the ages of 0 – 21.
  </p>
  <p>Accompanied children under 5 have Stay and Play activities in their own building with a mud kitchen, sand pit and enclosed open space.</p>
  <p>We also offer event hire of the facilities, especially on Sundays.
  
    We are a registered charity and rely 100% on volunteers and donations to stay open.</p>
  
</div>
<div class="col-12 text-center">
  <aside>
    <img src="assets/images/index/slade-photo.png" alt="">

  </aside>

</div>
   </div> 
 

<style>
  /* -------------- Welcome -------------- */

#welcome { padding-top: 60px; }

</style>