@import url(fontawesome-all.min.css);/*
	Custom CSS for cafe
	Last updated 2021 by Leroy Russell
*/

/* Logo */
.logo {
	width: 160px;
}

/* Navigation links */
#navPanel li a { color: white; }

.w3-row-padding {
	padding: 0px !important;
}

#cafes {
	background: #fff;
	color: #3f3f3f;
}

/* Cafes */
#cafeList { 
	background: #f9f6f1;
}

.cafe { 
	padding: 20px 20px 50px 20px;
}

.cafe h3 { 
	font-weight: bold;
	margin: 0px;
	font-size: 1.3em; }

.cafe h4 { 
	text-align: left; 
	padding-left: 0px;
	font-size: 1em; }

.cafe .cafeImage { 
	margin-top: 10px;
	z-index: 0 !important; }

.cafe .rating { 
	color: gold;
	text-align: left;
	padding-left: 0px;
	padding-bottom: 10px;
	font-size: 15px; }

.cafe .grey { color: lightgrey; }

.features { padding: 0px; }

.features i { padding-right: 8px; }

.cafe .features { 
	text-align: left !important;
	color: #3f3f3f; }

.cafe .features li { 
	list-style: none;
	font-size: 1em; }

#cafeCarousel ol li { 
	border: 1px solid #adadad; }

#cafeCarousel li:hover { 
	cursor: pointer; }

.carousel-indicators .active { 
	background: #a60000 !important; }

#cafeCarousel .carousel-control i {
	color: #3f3f3f;
	font-size: 40px;
}

#cafeCarousel .w3-left {
	margin-left: 10px;
}

#cafeCarousel .w3-right {
	margin-right: 20px;
}

#cafeCarousel .carousel-control:hover {
	opacity: 1;
	color: #a60000;
}

#map { background: #141414; }

#map h2 {
	color: #fff
}

#footer {
	background: #141414;
	color: #fff !important;
}

