<div class="row">
  <div class="col-lg-7">
    <h2>Dear <span>friends and neighbours </span>of Slade Gardens Adventure Playground</h2>

    <p>Many of you have asked about progress on the proposed permanent home for the adventure playground, (Slade Gardens Community Hub), 
      in light of the economic uncertainty surrounding the Covid 19 crisis.</p>
<p>As a reminder, this building is needed to enable the Adventure Playground to generate income and be financially 
      self-sufficient in order to serve future generations of children and preserve this valuable playspace, with all Lambeth funding now ceased.</p>
<p>It is true that these unprecedented times have had a profound impact on the grant funding landscape for ambitious projects like this.</p>
<p>The Slade Gardens Community Play Association has taken the difficult decision to amend the plans for the new building to reduce costs and make the remaining fundraising more achievable.</p>
<p>The project benefits from Lambeth’s support in the form of a £1m grant for the new building.</p>
<p>We have set ourselves the challenge of re-designing the building with the same scope, space and facilities within a more achievable budget.</p>

<p>We hope you will support these revised proposals.The aim is to resubmit the scheme for planning before Christmas.</p>

<p>We welcome your comments at this stage, please submit any concerns or queries you may have via email to info@maxarchitects.co.uk with Slade Gardens Community Hub in the subject line.</p>

  </div>
  <div class="col-lg-5">
    <aside class="row">
      <div class="col-md-6 col-lg-12">
        <img src="assets/images/community/architect1-480x296.jpg" alt="New York" />
      </div>
      <div class="col-md-6 col-lg-12">
        <img src="assets/images/community/architect2-400x250.jpg" alt="New York" />
      </div>
      <div class="col-md-6 col-lg-12">
        <img src="assets/images/community/architect3-480x296.jpg" alt="New York" />
      </div>
      <div class="col-md-6 col-lg-12">
        <img src="assets/images/community/max-logo-480x296.jpg" alt="New York" />
      </div> 
    </aside>
  </div>
</div>
 

<style>
  /*------------------------------------------------------------------ 
	HERO  
-------------------------------------------------------------------*/
#community-hub-hero {
  background: url("../images/community/architect2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#community-hub-hero .title-container { 
  top: 45%;
}

/*------------------------------------------------------------------ 
	LETTER  
-------------------------------------------------------------------*/
#letter img { padding: 1em 0 ; width: 100%}

</style>