
  <h2>What does <span>the future</span> hold?</h2>
  <p>

Since 2017, we’ve been in consultation with our local community to plan for an exciting and innovative new building to serve as a community hub and allows us to develop reliable long-term self-sustainability. In 2023, we are entering the final phases of fundraising so that the project may break ground. Stay tuned for more consultation, sharing of plans, supporting planning permission and helping fundraise. Together we can achieve great things!
  </p>

<style>
  /* -------------- Welcome -------------- */
.service-hair { background: var(--white); }

#welcome { padding-top: 60px; }

#services { padding-top: 40px; }

</style>