/* ------------------------- EMBEDDED FONT ------------------------- */
/* h1 and h2 font */
@font-face {
	font-family: 'Parisr Font';
	src: url(../fonts/parisr/parisr.eot?#ie) format("embedded-opentype"),
		url(../fonts/parisr/parisr.svg#) format("svg"),
		url(../fonts/parisr/parisr.ttf) format("truetype"),
		url(../fonts/parisr/parisr.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}

/* post-it note font on contact page 
Font taken from href="http://www.onlinewebfonts.com */
@font-face {
	font-family: 'Gelpen Font';
	src: url(../fonts/gelpen/GelPen.eot?#ie) format("embedded-opentype"),
		url(../fonts/gelpen/GelPen.svg#) format("svg"),
		url(../fonts/gelpen/GelPen.ttf) format("truetype"),
		url(../fonts/gelpen/GelPen.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}

/* post-it note and envelope font on contact page 
Font taken from href="http://www.onlinewebfonts.com */
@font-face {
	font-family: 'Feltpen Font';
	src: url(../fonts/feltpen/Feltpen.eot?#ie) format("embedded-opentype"),
		url(../fonts/feltpen/Feltpen.svg#) format("svg"),
		url(../fonts/feltpen/Feltpen.ttf) format("truetype"),
		url(../fonts/feltpen/Feltpen.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}

/* ------------------------- CSS RESET ------------------------- */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
article,
blockquote,
figure,
figcaption,
ol,
ul,
li,
a,
table,
th,
tr,
td,
dl,
dt,
dd,
form,
label,
legend,
img,
div,
header,
section,
main,
aside,
footer,
nav,
span,
em,
audio,
video {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

/* Display block */
section,
article,
header,
footer,
nav,
aside,
main,
figure,
figcaption {
	display: block;
}

/* No border */
img,
fieldset {
	border: none;
}

/* List style */
ul,
ol {
	list-style-type: none;
}

/* Text decoration and cursor for links */
a {
	text-decoration: none;
	color: green;
}

/* Text decoration and cursor for links */
a:hover {
	/* Set cursor for hover over link */
	text-decoration: none;
	cursor: pointer;
	color: #0e4577;
}

/* Text decoration and cursor for links */
#primarynav a,
#primarynav a:focus,
#footer a {
	/* Set cursor for hover over link */
	color: white;
}

a:visited {
	/* Set cursor for hover over link */
	color: #875e9b;
}

/* ------------------------- PAGE DEFAULTS ------------------------- */
html {
	scroll-behavior: smooth;
}

.aria {
	position: absolute;
	left: -9999px;
}

body {
	background-image: url("../images/background/paper.jpg") !important;
	background: #eee !important;
	font-family: sans-serif, Geneva;
	width: 100%;
	color: #3e3e3e;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 1.6;
	text-align: justify;
	text-shadow: none !important;
}

.main-content {
	width: 100%;
	margin: auto !important;
}

h1,
h2 {
	font-family: 'Parisr Font', sans-serif, Geneva;
}

.theme_color_txt {
	color: #236841;
}

.theme_color_bg {
	background: #236841;
}

.grey {
	background: #dbdbdb;
}

.bold {
	font-weight: 600;
}

.section {
	padding: 40px 20px;
}

.section2 {
	padding: 0px 20px 40px 20px;
}

.stroke-divide {
	width: 100%;
}

/* ------------------------------ SKIPLINKS ------------------------------ */
.skiplink {
	position: absolute;
	left: -10000px;
}

.skiplink:focus {
	left: 0;
	color: #000;
}

#toTop {
	border-radius: 100%;
	color: #fff;
	background: #fff;
	border: 1px solid #236841;
	position: fixed;
	right: 20px;
	bottom: 40px;
	width: 45px;
	padding: 5px;
	font-size: 23px;
	opacity: 0.5;
}

#toTop:hover {
	opacity: 1;
}

#toTop i {
	padding-left: 6px;
	color: #236841;
}

/* ------------------------- HEADER ------------------------- */
header {
	width: 100%;
}

.h1-bg {
	background: #fff;
}

header h1 {
	/* Image from from https://i253.photobucket.com/albums/hh66/nguyenanhdac/Texture/AS2_cloth_12_bump.jpg */
	background-image: none;
	padding-top: 5px;
	padding-left: 40px;
	padding-bottom: 0px;
	font-size: 1.4em;
	font-weight: bold;
	width: 100%;
	font-weight: 600;
	overflow: hidden;
	color: #236841;
}

h1 #h1_subtitle {
	color: #102f1d;
	font-family: "Parisr Font";
	display: none;
	margin-top: -12px;
}

/* H2 */
h2 {
	font-weight: 700;
	margin-top: 20px;
	padding-bottom: 5px;
	font-size: 1.8em;
	color: #236841;
}

main h2 {
	margin-top: 0px !important;
}

/* H3 */
h3 {
	font-size: 1.1em;
}

/* -------------------------------- BANNER -------------------------------- */
/* Banner */
.bookmonth-bg {
	padding-top: 10px;
	background: #236841;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#236841, #236841, #236841, #236841, #1f5c39);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#236841, #236841, #236841, #236841, #1f5c39);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#236841, #236841, #236841, #236841, #1f5c39);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(circle, #236841, #236841, #236841, #236841, #1f5c39);
	/* Standard syntax */
	background: url("../images/banner/bg.jpg");
	background: #236841;
	background-size: cover;
}

/* Banner image */
.banner-img {
	position: absolute;
	width: 100% !important;
	margin: auto;
	margin-top: -10px !important;
}

/* ------------------------- BREADCRUMBS ------------------------- */
#breadcrumbs {
	font-style: italic;
	padding-bottom: 1em;
}

#breadcrumbs a {
	text-decoration: none;
	color: #236841;
}

#breadcrumbs a:hover {
	color: #c8dda3;
}

/* ------------------------- SKIPLINKS ------------------------- */
summary,
.skiplink_bottom,
.skiplink_top {
	display: none;
	position: absolute;
	left: -10000px;
}

.skiplink_bottom:focus,
.skiplink_top:focus {
	display: inline-block;
	left: 0;
}

.skiplink_bottom {
	position: relative;
	float: right;
	clear: both;
}

.skip_image {
	width: 32px;
	height: 32px;
}

/* ------------------------- NAVIGATION ------------------------- */
/* .sticky {
	position: fixed;
	top: 0;
	width: 100%; } */

#primarynav,
#navbar {
	width: 100%;
	padding-bottom: 1em;
	color: #ffffff;
	text-align: center;
	background: #236841;
	padding: 5px 0px 0px 10px;
	font-family: 'Parisr Font';
}

#primarynav {
	border-top: 1px solid #236841;
	z-index: 10;
}

#primarynav ul li {
	display: inline-block;
}

#primarynav ul li a {
	color: #ffffff;
	font-weight: 600;
	padding: 0.5em 1em 0.5em 1em;
	font-size: 2em;
}

#primarynav a:hover,
#primarynav button:hover,
#navbar a:hover {
	color: #c8dda3 !important;
	box-shadow: none !important;
}

#primarynav ul li .active_link {
	color: #c8dda3;
	cursor: default;
}

#secondarynav {
	margin-bottom: -10px;
}

#secondarynav a {
	color: grey;
	font-size: 0.9em;
	font-weight: 600;
	padding: 5px;
}

#secondarynav a:hover {
	color: #236841;
}

#navbar {
	padding-top: 2em;
	padding-bottom: 1em;
	text-align: left;
	background: #236841;
}

#navbar a {
	color: white;
	padding: 5px;
	font-weight: 600;
}

#secondarynav {
	display: inline;
}

.w3-dropdown-content {
	width: 98%;
	height: auto;
	margin: 0 auto;
	background: #246841;
	padding: 10px;
	box-shadow: 0px 0px 3px 0px black;
	color: white;
	z-index: 100;
}

#navbar .w3-dropdown-content a {
	font-size: 0.8em;
}

#primarynav a:hover,
#navbar .w3-dropdown-content a:hover,
#primarynav .active,
#navbar .active {
	color: #c8dda3;
}

#secondarynav .secondary-active {
	color: #236841;
}

.w3-dropdown-content a:last-child {
	border-radius: 0px 0px 10px 10px;
}

#small-nav {
	width: 100%;
}

#small-nav p {
	font-family: 'Parisr Font';
}

#primarynav .linkbtn {
	background: #236841;
}

.w3-dropdown-hover button,
.w3-dropdown-hover button:hover {
	display: block;
	width: 100%;
	background: #236841;
	box-shadow: 0px 0px 0px;
	color: white;
}

.w3-dropdown-content a {
	text-align: left;
}

.w3-dropdown-content a:hover {
	background: #236841;
	box-shadow: 0px 0px 0px;
}

#mini-nav {
	font-size: 23px;
	float: right
}

.logo {
	float: left;
}

.logo p {
	font-weight: bold;
}

/* ------------------------- FOOTER ------------------------- */
#footer {
	background: #236841;
	padding-top: 40px;
	padding-bottom: 20px;
	color: #f2f2f2;
	clear: both;
}

#footer h2 {
	color: #fff;
	font-size: 1.5em;
	margin: 0px;
}

#footer li {
	padding-bottom: 10px;
	color: lightgrey;
}

#footer a:hover {
	color: #eee !important;
	opacity: 1 !important;
}

footer .social {
	padding-top: 10px;
}

footer img {
	width: 25px;
	margin: 10px;
	opacity: 0.6;
	border-radius: 100%;
}

#footer .social img:hover {
	opacity: 1 !important;
	transform: scale(1.1);
}

#footer #copyright {
	margin: 30px 0px 0px 0px;
	color: #eeeeee;
	font-size: 0.8em;
	text-align: center;
}

/* ------------------------- HOME PAGE ------------------------- */
#index-section {
	padding: 0px;
}

#bookMonth h2,
#buying h2,
#selling h2,
#valuing h2 {
	text-align: center !important;
}

#valuing,
#buying {
	background: white;
}

#selling i,
#valuing i {
	color: #f2f2f2;
	padding: 20px 10px;
	background: #236841;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 20px;
}

#buying #requirements_buying i {
	background: none !important;
	color: #3f3f3f;
	font-size: 20px !important;
	margin-right: 20px;
	border: none;
	padding: 0px 0px 0px 10px;
	width: 30px;
	height: 30px;
}

/* Book of the Month */
#bookMonth,
#bookMonth h2 {
	color: #f2f2f2 !important;

}

#book_of_month_image {
	width: 250px;
	margin: auto;
	margin-top: 30px;
}


.book_of_month_list {
	width: 300px;
	padding: 0px 20px 10px 10px;
	text-align: left;
	font-size: 0.9em;
	margin: auto;
	margin-top: 20px;
}

.book_of_month_list i {
	color: gold !important;
	font-size: 20px !important;
	padding: 10px 10px 0px 0px !important;
	border: none !important;
}

#bookMonth .w3-btn {
	padding: 12px 50px;
	border-radius: 3px;
	font-size: 0.9em;
	width: 100%;
	margin: auto;
	margin-top: 30px !important;
	background: #141414 !important;
	color: #f2f2f2 !important;
}

#bookMonth .w3-btn:hover {
	background: #f2f2f2 !important;
	box-shadow: 0px 0px 0px 0px !important;
	color: #141414 !important;
}

#bookMonth p {
	text-align: center;
}

#author {
	text-align: center;
	font-style: italic;
	font-size: 0.9em;
}

video {
	width: 100%;
	border-radius: 5px;
	margin: 30px 0px;
}

#requirements_buying {
	margin-bottom: 20px;
	text-align: left !important;
}

#requirements_buying i {
	margin: 0px;
	font-size: 16px;
	padding-right: 6px;
}

#requirements_buying li {
	font-size: 0.9em;
}

/* ------------------------- BOOKS PAGE ------------------------- */
#books_content {
	margin-bottom: 2em;
	margin-right: 1em;
}

#books_content p {
	display: block;
	padding: 5px 5px 5px 0px;
}

.books_content_image {
	float: right;
	width: 55px;
	height: 60px;
	box-shadow: 0px 0px 5px 1px grey;
	margin-top: 8px;
	margin-left: 1em;
}

span a {
	color: #1a3f2b;
	font-weight: lighter;
}

span a:hover {
	color: #c8dda3;
}

#menu-list {
	padding-top: 0.35em;
	padding-bottom: 0.39em;
	margin: auto;
	color: #3e3e3e;
}

#menulist li a:hover {
	color: #ffffff;
}

#active_link_menu {
	color: #c8dda3;
	cursor: default;
}

/* ------------------------- 19th CENTURY BOOKS------------------------- */
#nineteen_century_intro {
	margin-bottom: 1em;
}

.book {
	background: #ffffff;
	overflow: hidden;
	padding: 1em;
	border: 1px solid lightgrey;
	border-radius: 5px;
	margin-bottom: 40px
}

.book span {
	color: #9b9b9b
}

.book h3 {
	font-family: 'Parisr Font';
	color: #246841;
	text-align: left;
	font-size: 1.6em;
	padding-bottom: 5px;
}

.book img {
	width: 50%;
}

.nineteen_century_books {
	padding-top: 0;
	margin-top: -10px;
	margin-left: 40px;
	width: 20% !important;
}

.book .text_green {
	color: #adadad;
	padding-top: 50px !important;
}

.bold_text {
	font-weight: bold;
	margin-bottom: 1em;
	line-height: 1.8;
}

.fa-star {
	color: gold;
}

.grey-star {
	color: #dbdbdb !important;
}

/* ------------------------- DELIVERY PAGE ------------------------- */
#delivery_container p:last-child {
	padding-top: 1.5em;
	padding-bottom: 0.5em;
}

table {
	width: 100%;
	margin-bottom: 1.25em;
	border-left: 1px solid #adadad;
	border-right: 1px solid #adadad;
	border-bottom: 1px solid #adadad;
	overflow: hidden;
	text-align: center;
}

.table_bkg_color {
	background: lightgrey;
}

#rest-of-world {
	border-radius: 5px;
}

.tableh_color {
	border-top: 1px solid #236841;
	background: #bcbcbc;
	font-weight: 100;
	color: rgb(36, 36, 36);
}

caption {
	border-top: 1px solid lightgrey;
}

caption,
table,
th,
tr,
td {
	padding: 10px;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 0.9em;
}

tr {
	border: 1px solid #adadad;
}

#book-table td,
#book-table th {
	text-align: left;
	padding: 10px 0px 0px 0px;
	border: 1px solid #fff !important;
	vertical-align: text-top;
}

#book-table td {
	padding-right: 10px;
}

#table_title {
	text-align: center;
	padding-left: 20px;
	color: #ffffff;
	background: #236841;
	border-radius: 1px 1px 0px 0px;
}

#delivery_times li:first-child {
	color: #42845f;
	font-weight: bold;
	text-align: left;
}

/* ------------------------- CONTACT US PAGE ------------------------- */
#contactus_container .section {
	padding-left: 0px;
	padding-right: 0px;
}

#contactus_container .section {
	padding-left: 0px;
	padding-right: 0px;
}

#write_details h2 {
	margin-top: 40px !important;
}

#contact_numbers {
	width: 100%;
	margin: auto;
	border: 1px solid lightgrey;
	border-radius: 5px;
	font-size: 1.3em;
	color: #236841;
}

dt {
	background: #236841;
	padding: 5px;
	font-family: 'Parisr Font';
	color: white;
}

#contact_numbers dd {
	font-size: 0.9em;
	padding: 10px;
	background: white;
	color: #3f3f3f;
}

#contact-data {
	border-radius: 0px 0px 5px 5px;
}

fieldset select,
fieldset input,
fieldset textarea {
	margin: 20px 0px;
	display: block
}

;

legend {
	font-size: 1.5em;
	width: 100%;
	color: #236841;
	padding: 20px 0px 20px 0px;
	font-family: 'Gelpen Font', sans-serif, Geneva;
}

#form_bkg {
	background: #f6f6f6;
	border-radius: 2px;
	border: 1px solid lightgrey;
	margin-bottom: 30px;
}

::placeholder {
	color: grey;
	font-style: italic;
}

#title:hover {
	cursor: pointer;
}

.w3-input,
.w3-select,
textarea {
	border-radius: 2px;
	border: 1px solid lightgrey;
}

input[type=text]:focus,
.w3-select:focus,
textarea:focus {
	border: 2px solid #236841;
}

input[type=submit] {
	background: #236841;
	color: #fff;
	border: 1px solid #236841;
	border-radius: 2px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
	font-size: 1em;
}

input[type=submit]:hover {
	box-shadow: 0 0 4px #3f3f3f;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
}

/* ------------------------- MEDIA QUERIES ------------------------- */

@media screen and (min-width: 600px) {

	#primarynav #mini-nav {
		font-size: 26px;
	}

	header h1 {
		/* Image from from https://i253.photobucket.com/albums/hh66/nguyenanhdac/Texture/AS2_cloth_12_bump.jpg */
		background-image: url("../images/icons/emblem_logo_64.png");
		background-position: left 10px bottom 10px, left top;
		background-repeat: no-repeat;
		padding-left: 80px;
		margin-top: -10px;
		font-size: 2.2em;
	}

	h1 #h1_subtitle {
		font-size: 18px;
		display: block;
		margin-top: -10px;
		padding-bottom: 5px;
	}

	#primarynav a {
		font-size: 30px;
		padding: 5px;
	}

	.w3-col {
		width: 25%;
	}

	.w3-rest {
		width: 75%;
	}

	.section {
		padding: 60px 20px;
	}

	.section2 {
		padding: 0px 20px 60px 20px;
	}

	#index-section {
		margin-bottom: 0px;
	}

	h2 {
		font-size: 1.7em;
	}

	#book_of_month_image {
		width: 300px;
		margin: auto;
		margin-top: -30px;
	}

	.book_of_month_desc {
		padding: 0 50px !important;
	}

	.book_of_month_list {
		width: 100%;
		padding-left: 30px;
		margin-bottom: 30px;
	}

	.book_of_month_desc .w3-btn {
		width: 60%;
		margin: auto;
	}

	#requirements_buying {
		padding-left: 20px;
	}

	#requirements_buying i {
		font-size: 18px;
		padding-right: 10px;
	}

	.book {
		padding: 2em 3em 2em 1.5em;
	}

	.book img {
		width: 100%;
	}

	.nineteen_century_books {
		margin-right: 15px;
		padding-top: 0;
		margin-top: -60px;
		float: right;
		width: 125px;
		height: 135px;
	}

	caption,
	tr {
		font-size: 1.2em !important;
	}

	#contact_numbers {
		width: 60%;
	}

}

@media only screen and (min-width: 991px) {

	.main-content,
	.main-content2 {
		width: 80%;
		margin: auto;
		max-width: 80em;
	}

	.main-content2 {
		width: 75%;
	}

	.section {
		padding: 60px 0px;
	}

	.section2 {
		padding: 0px 20px 60px 20px;
	}

	#bookMonth h2,
	#buying h2,
	#selling h2,
	#valuing h2 {
		text-align: left !important;
	}

	#buying {
		padding-right: 30px;
	}

	header h1 {
		/* Image from from https://i253.photobucket.com/albums/hh66/nguyenanhdac/Texture/AS2_cloth_12_bump.jpg */
		background-image: url("../images/icons/emblem_logo_64.png");
		background-position: left 10px bottom 10px, left top;
		background-repeat: no-repeat;
		padding-left: 80px;
		margin-bottom: -10px;
		font-size: 1.8em;
	}

	h1 #h1_subtitle {
		font-size: 20px;
		margin-top: -15px;
		padding-bottom: 10px;
	}

	#primarynav a {
		font-size: 1em !important;
	}

	.w3-dropdown-content {
		border-top: 9px solid #236841;
		width: 350px !important;
		height: auto;
	}

	.w3-dropdown-content .w3-card-4:hover,
	.w3-dropdown-hover button,
	.w3-card a:hover {
		background: #236841;
		box-shadow: 0px 0px 0px;
		color: white;
	}

	h2 {
		font-size: 2em;
	}

	#book_of_month_image {
		float: right !important;
		width: 330px;
		max-width: 380px;
		margin: auto;
		margin-top: -20px;
		margin-right: 40px;
	}

	.book_of_month_desc {
		padding: 0 40px 0 0 !important;
	}

	.book_of_month_desc p {
		text-align: left !important;
	}

	.book_of_month_desc .w3-btn {
		width: 300px !important;
	}

	.book img {
		width: 80%;
	}

	.mediaframe {
		margin: 40px 0px 0px 30px;
	}

	#contactus_container h2:last-of-type {
		margin-top: 0px !important;
	}

	#contact_numbers {
		width: 100%;
	}

	#call_details {
		padding-right: 60px;
	}
}