<div class="row">
  <div class="col-lg-6">
    <h2>Get in <span>touch</span></h2>

    <dl>
      <dt>
        Address
      </dt>
      <dd>
        <address>
          <p>Slade Gardens Adventure Playground<br/>
          73A & 73B Stockwell Park Road,<br/>
          London SW9 0DA<br/></p>
          </address>
      </dd>
    </dl>
  
    <dl>
      <dt>
        Telephone
      </dt>
      <dd>
        0207 737 3829
      </dd>
    </dl>
   
    <dl>
      <dt>
        Email
      </dt>
      <dd>
        sladeadventure@btinternet.com
      </dd>
      </dl>
  </div>
  <div class="col-lg-6">
    <h2><span>Find</span> Us</h2>

    <dl>

    
      <dt>By Tube</dt>
      <dd>
        <ion-label class='ion-text-wrap'><p>Take the Victoria line to Stockwell tube. We are about a 5 minute walk from Stockwell Station.</p></ion-label>
      </dd>
    </dl>
 <dl>
  
      <dt><h3>By Bus</h3></dt>

        <dd><p>Brixton Road: 3, 59, 159, 133, 333</p></dd>

         <dd><p>Stockwell Road: 2, 345, 196</p></dd>

        <dd><p>Clapham Road: 155, 255, 88</p></dd>
      </dl>
  </div>
</div>

<style>
  #welcome ion-list, #welcome ion-item { --background: none !important;}
</style>