<div class="row">
  <div class="col-lg-7">
    <article>
      <h2> <span>Our Community</span> & Why we’re here</h2>
      <p>We have to raise every penny we need to keep providing the space and services our 
        local children desperately need.</p>

      <p>
      In our area there are an average of 12,020 residents per km square. This compares to an average of 5,600 
      for London and 366 for England as a whole. Many local children have no access to outside space or gardens.</p>

      <p>Sadly youth violence, gangs, drugs, poverty and childhood obesity all pose threats to our 
      local children. COVID-19’s extended periods of isolation obstructed their development.</p>

      <p>We are free at point of entry and offer a safe exciting space.</p>

      <p>Come and be part of our brilliant volunteering team. Rent our facility for your event. 
      Have a corporate retreat in our outdoor education space. Offer a few hours of your time 
      to help out with a special project or a few hours of your expertise every month as a trustee.</p>

      <p>There are so many ways you can help!</p>
  
    </article>
  </div>
  <div class="col-lg-5 text-center">
    <aside>
      <img src="assets/images/involved/circles-involved.png" alt="" />
    </aside>
  </div>
</div>


<style>
/* -------------- About -------------- */
#about { background: var(--light-grey); }

#about img {
	 width: 60%;
	 max-width: 250px;
}


/* ========================== MEDIA QUERIES: PHONE ========================== */
@media screen and (max-width: 480px) {
	body {
		min-width: 320px;
	}
}


/* ========================== MEDIA QUERIES: TABLET ========================== */
@media screen and (max-width: 800px) {
	/* -------------- About -------------- */
	#about img {
		width: 100%;
    padding-top: 2.5em;
	}
}

/* ========================== MEDIA QUERIES: DESKTOP  ========================== */
@media screen and (min-width: 992px) {
/* -------------- About -------------- */
#about img {
  width: 60%;
  padding-top: 2em;
}

}

/* ========================== END MEDIA QUERIES: DESKTOP  ========================== */
</style>