
  <h2>Become A Friend</h2>
  <p>Join as an individual, a family or even as a VIP. Our annual friendship plans have great benefits and all come with the happy knowledge that you are helping to secure the future of the APG. We have evolved our program and offer membership packages for Individual, Family, VIP, and Corporate friendships.</p>

  <dl class="bullet-list">
    <dt>
      Friendship benefits include:
    </dt>
    <dd>Free SWAG (T-shirt, buttons, bags, depending on stock and availability)
    </dd>
    <dd>Free newsletter</dd>
    <dt>Additional VIP Friendship benefits include:</dt>
    <dd>Priority ticket booking for events
    </dd>
    <dd>Free jar of APG honey (bee dependant!) or Free drink at the AGM</dd>
    <dt>Additional Corporate Friendship benefits include:</dt>
    <dd>Priority CSR working day booking
    </dd>
    <dd>10% discount on venue hire</dd>
  </dl>
        <h3>Friendship benefits include:</h3>

          <p>Free SWAG (T-shirt, buttons, bags, depending on stock and availability)</p>
        
          <p>Develop responsibility and understanding of risk through play</p>
  
          <p>Develop strong social skills and positive connections when playing freely with others</p>

          <p>Need space to explore and challenge themselves.</p>
 
    <p>You can download a membership form here with full details & how to pay etc – prices increasing April 2023.</p>
   
    <button class="btn">Become A Friend</button>