<div class="row">
  <div class="col-lg-7">
    <article>
      <h2>Get involed</h2>
      <p>We receive fantastic support from the local community and have developed close connections with local residents, schools and charities.</p><p>

        Please come and get involved we welcome support and there are endless ways you can help us. We value every penny and rely on the generosity of our sponsors and supporters. Please donate here, sign up to volunteer on Saturday in the garden, or get in touch if you would like to talk to us about helping.</p>
  
    </article>
  </div>
  <div class="col-lg-5">
    <button class="btn" id="donate-btn">Dinate now</button>
    <button class="btn" id="garden-btn">Garden saturday</button>
    <button class="btn" id="member-btn">Become a member</button>
    <button class="btn" id="friendship-btn">Become a friend</button>
    <button class="btn" id="contactus-btn">Contact us</button>
  </div>
</div>

  <style>
    #involved button { display: block;width: 100%;margin: 2em 0 }
 
#donate-btn { 
  background: #d63b20;
}
#garden-btn { 
  background: #6eb545;
}
#member-btn { 
  background: #f9de40;
  color: black;
}
#friend-btn { 
  background: #f15825;
}
#contactus-btn { 
  background: var(--white);
  color: black;
}

  </style>