
  <h2>Come &amp; join us!</h2>
  <p>We love all our volunteers. Thank you!
    Volunteering is fun and helps make our community a particularly welcoming & supportive place for children.
    </p>

    <dl>
      <dt>Recently our volunteers aged from 6 – 81 did some amazing things including:</dt>
      <dd>
        Making 30 litres of pumpkin soup
        Creating obstacle races & acting as race referees
        Digging potatoes, planting tomatoes & weeding the vegetable garden
        Designing & drawing posters & artwork
        Managing events for hundreds of people
        Running ultra-marathons, cycling for sponsorship
        Welcoming visitors & selling herbs from our garden
        Repairing our zip line with London Play Design</dd>
    </dl>
   
    <p>We have a space for almost every talent & any amount of time you want to give. If you have a specific skill set to share, be it marketing, mentoring, database building, cultivating plants, carpentry, we’d love your help. We have a Young Volunteers programme as well as regular adult volunteering sessions.
</p><p>
      Maybe you’d like to have a Corporate Volunteer Day? There’s always so much to do. We suggest a voluntary contribution of £40 per attendee, and contribute to other supplies costs.
      </p><p>
      Better yet, become a member and have a say in all that we do. Use the <a href="#">Contact Us</a> form to express your interest! We’d love you to join and contribute to your community hub! Together we are better.</p>