<h2>Who we <span>partner with</span></h2>
<p>
  Working together is better!

We are a proud partner of Lambeth Community Hubs. Founded in 2011, Lambeth Community Hubs is a partnership of five community anchor charities that provide community building based services in their local areas. Our partners are High Trees, Longfield Hall, Stockwell Partnership, and We are 336. The Hubs collaborate to strengthen their reach and practice, ensuring their shared vision of achieving a more equal, inclusive and thriving Lambeth, for individuals who access their services and for the voluntary and community sector as a whole. Please take advantage of the shared mutual learning and resources in the library of templates, checklists and guides for organisations running community buildings on the hub website.
</p>


<h2>Who we <span>work with</span></h2>
<dl class="bullet-list">
<dt>
  We work with many other groups, schools, charities and local services including:</dt>
    <dd>
      Bay Tree
    </dd>
    <dd>Beyond Autism
    </dd>
    <dd>Brownies</dd>
    <dd> The Childrens Village, a Home Schooling Group
      </dd>
      <dd>Kristi’s Older People Pilates Classes</dd>
      <dd>Norman Powell and Sustainable Communities </dd>

</dl>
</p>

