
  <div class="row w3-container">
 
    <aside class="col-sm-12 col-lg-8">
      <h2>Who Uses Us</h2>
      <p class="w3-margin-bottom">
        During the holidays we average over 100 children each day.
</p>
<p>
  Over the year we have well over 4,000 visits to the playground alone. While we do not target a particular ethnic group 72% of the children that use us are from Black and multi ethnic groups.
</p>
<dl>
  <dt>Registration data:</dt>
  <dd><ion-icon name="checkmark-outline"></ion-icon>Lasts up to 12 months</dd>
  <dd><ion-icon name="checkmark-outline"></ion-icon>Easy to maintain</dd>
  <dd><ion-icon name="checkmark-outline"></ion-icon>Consistent Quality</dd>
  <dd><ion-icon name="checkmark-outline"></ion-icon>No Shredding/Dulling</dd>
</dl>
<dl>
</aside>

       <!-- Figure -->
       <figure class="col-sm-12 col-md-4 w3-center w3-text-grey w3-medium" id="parees">
        <img src="assets/images/main/pareestaylor.jpg" alt="Parees Taylor" title="Parees Taylor" />
  
      </figure> <!-- End figure -->
  
  </div> <!-- End .w3-row -->

<style>
/* -------------- About -------------- */
#usage { background: var(--theme-color); }

#about img {
	 width: 60%;
	 max-width: 250px;
}


/* ========================== MEDIA QUERIES: PHONE ========================== */
@media screen and (max-width: 480px) {
	body {
		min-width: 320px;
	}
}


/* ========================== MEDIA QUERIES: TABLET ========================== */
@media screen and (max-width: 800px) {
	/* -------------- About -------------- */
	#about img {
		width: 100%;
    padding-top: 2.5em;
	}
}

/* ========================== MEDIA QUERIES: DESKTOP  ========================== */
@media screen and (min-width: 992px) {
/* -------------- About -------------- */
#about img {
  width: 60%;
  padding-top: 2em;
}

}

/* ========================== END MEDIA QUERIES: DESKTOP  ========================== */
</style>