<div class="row">
  <div class="col-lg-7">
    <article>
      <h2>Upcoming events</h2>
      <p>We have an active events team helping to run events & activities at the APG. We always welcome new members so get in touch if you’d like to get involved.</p>

      <dl class="bullet-list">
        <dt>Recent projects include:</dt>
        <dd>A community sports day in partnership with Stockwell Park Residents Association which gave over 100 children the chance to test their skills and improve their fitness.
          </dd>
          <dd>
          An open day & BBQ to celebrate the end of the summer holidays.
          </dd><dd>Our Fireworks night provided a dazzling night for over 450 APG users, their families and local residents.
          </dd><dd>Our Young Advisors group is making sure our children make choices and decisions about their playground & how best it can serve them.</dd>
      </dl>
    
    </article>
  </div>
  <div class="col-lg-5 text-center d-none d-sm-none d-md-none d-lg-block">
    <aside>
      <img src="assets/images/involved/circles-bag.png" alt="" />
    </aside>
  </div>
</div>


<div class="row">
  <div class="col-lg-5 col-md-4">
    <aside id="pedal">
      <img src="assets/images/involved/pedal-logo.jpg" alt="" />
      <img src="assets/images/involved/pedal-img.png" alt="" />
    </aside>
  </div>
  <div class="col-lg-7 col-md-8">
    <article>
      <h2>Volunteer Created Sponsorship</h2>
      <h3>Opportunities that benefited us include
      </h3><h3>Pedal for your Playground, 2021</h3>
      <p>2021 was the 21st anniversary of the APG as a community run and managed charity. We celebrated with a fundraising drive beginning with 24 hour cycle challenge with a team of over 70 riders covering 768 miles.  This raised over £5,000 towards our operating expenses!</p>

      <p>We always welcome volunteers so please get in touch if you’d like to join the fun. </p>

      <dl class="bullet-list">
        <dt>There are lots of ways to help including:</dt>
        <dd>Raising funds through a sponsored event – from marathon to coffee morning!
          </dd>
          <dd>Donating raffle or auction prizes</dd>
          <dd>Joining the events team and helping to plan events or taking on a role from ticket collecting to running the tombola.
          </dd>
      </dl>
    </article>
  </div>
</div>

 
  <style>
    #pedal img { width: 100% !important}
  </style>