<div class="row">
  <div class="col-lg-7">
    <article>
      <h2>Young <span>volunteers</span></h2>
      <p>Last year over 40 children & young people volunteered their time, energy & enthusiasm for events and projects at the APG.</p>

      <dl class="bullet-list">
        <dt>In the last year our young volunteers</dt>
        <dd>Undertook a birdwatch for the RSPB & did a nature survey
         </dd>
         <dd>Ran chocolate fountains & popcorn stalls at fireworks night
         </dd>
         <dd>Designed posters & logos for our events
          </dd>
          <dd>Helped run sports day events including the 3 legged race & obstacle course
          </dd>
          <dd>Acted as waiting staff at fundraisers
          Transformed the hut into a chocolate factory
          </dd>
          <dd>Dug, weeded and planted in our edible garden
          </dd>
          <dd>Gained work expereince at our half term camps
          Made friends in their community</dd>
      </dl>

      <p>If you are aged 6 – 19 and would like to do some volunteering just get in touch.</p>

      <button class="btn">Get in touch</button>
  
    </article>
  </div>
  <div class="col-lg-5 text-center d-none d-sm-none d-md-none d-lg-block">
    <aside>
      <img src="assets/images/involved/circles-garden.png" alt="" />
    </aside>
  </div>
</div>
