   <!-- Footer -->
   <footer role="contentinfo" id="footer" class="section">
    <article class="text-center main-content">
<h3>Stay connected</h3>
<ion-icon name="logo-facebook"></ion-icon>
<ion-icon name="logo-instagram"></ion-icon>
<ion-icon name="logo-twitter"></ion-icon>
      
            <p>
              Slade Gardens Community Play Association CIO, aka Slade Gardens Adventure Playground, is a registered charity # 1165347 at 73 A & B Stockwell Park Road, London SW9 0DA I Tel: 020 7737 3829 I Email: sladeadventure@btinternet.com I ©Slade Gardens Adventure Playground 2024


            </p>
            <p>Original design by <a href="#">lucymaddison.com</a>, New design by Leroy Russell</p>
          </article>
    </footer> <!-- End footer -->

  <style>
    
  /*------------------------------------------------------------------ 
	FOOTER  
-------------------------------------------------------------------*/
#footer, #footer ion-list{ 
	background: #0f0f0f !important; 
  font-weight: 100 !important;
}

#footer ion-item { padding-bottom: 20px; }
#footer #holiday-times ion-item { padding-bottom: 20px; }

footer ion-note { display: block !important; }

#footer h2, #footer p { 
  color: var(--white) !important
}

#footer h2 { 
  color: var(--white, #f2f2f2) !important;
  padding-left: 8px;
}

#footer h3 { 
 font-size: 1.1em !important;
 font-weight: normal !important;
 padding: 15px 0px 10px 0px !important;
}

#footer h3, #footer p { 
  color: var(--white-2) !important
}

#company-details { 
  background: #282828;
}
  
#company-details p { 
  font-size: 0.7em !important; 
}
  
    #footer { padding-bottom: 10px !important;}
    #footer ion-icon { font-size: 30px !important; padding: 30px 10px !important;}
    #footer p { padding-top: 1.5em !important;}

    /*------------------------------------------------------------------ 
	ICON  
-------------------------------------------------------------------*/
#footer ion-icon { 
  color: var(--white-2);
  font-size: 0.6em !important;
  padding-right: 1.4em !important;
}

  </style>