    <!-- Main content -->
		<div class="main-content">

      <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top" id="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="?page=home">
            <img src="assets/images/logo/logo.png" alt="" class="logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                <img src="assets/images/logo/logo.png" alt="" class="logo">
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="?page=home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="?page=about-us">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="?page=community-hub">Community Hub</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="?page=get-involved">Get Involved</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="?page=venue-hire">Venue Hire</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="?page=contact-us">Contact Us</a>
                </li>
               
                <li class="nav-item">
                  <a class="btn donate-btn" href="?page=contact-us">Donate Today</a>
                </li>
               
              </ul>
             
            </div>
          </div>
        </div>
      </nav>
		</div> <!-- Eend .main-content -->

<style>

/* -------------- Navigation -------------- */
#navbar h1 {
	margin-bottom: -5px;
	width: 250px;
	color: var(--grey);
	font-size: 22px;
	font-family: 'Architects Daughter';
}

#navbar span {
	color: #561414 !important;
}


  
  /* ========================== MEDIA QUERIES: DESKTOP  ========================== */
  @media screen and (min-width: 992px) {

/* -------------- Logo -------------- */
#logo {
  width: 200px;
}

}

</style>