<h2 class="w3-margin-bottom">Stand Design</h2>
<p class="w3-margin-bottom">You know what you want to say; you've booked your space and have no idea what to put in it,
	or how it should look. Contact us.</p>
<p class="w3-margin-bottom">Efex can project manage the build working with show organisers to make sure your event runs
	smoothly.</p>
<p class="w3-margin-bottom">Following an initial briefing and design consultation, we'll work closely with you at all
	stages, supplying colour visuals, photo-real renderings and fully dimensioned cad elevations to ensure you have a
	great show.</p>