<h2 class="w3-margin-bottom">Modular Exhibition Stands</h2>
<p class="w3-margin-bottom">Our custom modular exhibition systems are fully scaleable. Offering a re-useable
	presentation solution creating anything from small workstations to large hospitality inclusive exhibition stands.
</p>
<p class="w3-margin-bottom">Custom Modular exhibition stands can look like custom exhibits, but you can reap the
	benefits from your investment time and time again. Modular stands are flexible enough to fit a multitude of stand
	shapes and sizes.</p>
<p class="w3-margin-bottom">Design accents can be added with a range of display accessories and lighting options.</p>
<p><b>Options:</b></p>
<ul class="w3-margin-bottom list-spec">
	<li>Workstations</li>
	<li>Counters</li>
	<li>Showcases</li>
	<li>Display Pods</li>
	<li>and many more</li>
</ul>