 		<!-- Testimonial slide -->
        <div class="w3-container w3-animate-right main-content testimonials">

            <!-- Client 1 -->
            <div class="testimonial">
                <ul class="w3-animate-right">
                    <li>"I would like to thank you for your superb help on the event at the British Museum. The Deputy Private Secretary to TRHs The Prince of Wales and the Duchess of Cornwall was singing the praises of IBLF and the event that evening."
					</li>
                    <li class="w3-margin-top">The Prince of Wales International Business Leaders Forum</li>
					<li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                </ul>			
            </div>		

            <!-- CLient 2 -->
            <div class="testimonial"> 
                <ul class="w3-animate-right">
                    <li>"The stands arrived and they look excellent, thank you very much for turning it around so quickly. Much appreciated."
					</li>
                    <li class="w3-margin-top">Tourism Ireland</li>
                    <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                </ul> 				
            </div>	

            <!-- Client 3 -->
            <div class="testimonial">
                <ul class="w3-animate-right">
                    <li>"The stands look really nice, thank you. Even better than the other ones because they are a bit lower so we can put them anywhere in the office."</li>
                    <li class="w3-margin-top">Visa Europe</li>
                    <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star grey"></i><i class="fa fa-star grey"></i></li>
                </ul>	
            </div>

             <!-- Client 4 -->
             <div class="testimonial">
                <ul class="w3-animate-right">
                    <li>"Delighted, they look great. We have 10 of them standing up in our office- so not much room to move around! The others we have not yet opened, but I am sure they will be great. The best one we like is Seattle so far... and the HR brand one. They have all turned out so well. Thanks for everything."
					</li>
                    <li class="w3-margin-top">Hyatt Hotels &amp; Resorts</li>
                    <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star grey"></i><i class="fa fa-star grey"></i></li>		
                </ul> 
            </div>
 			
			<!-- Client 5 -->
            <div class="testimonial">
                <ul class="w3-animate-right">
                    <li>"Thanks for checking in with us! The first outing with the Pingu stand is next Tuesday in Japan, so fingers crossed! The stand however looks brilliant, and everyone in the office was very impressed. Thank you very much for the quick turnaround on this."
                    <li class="w3-margin-top">Linguaphone Group</li>
                    <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"><i class="fa fa-star grey"></i></i></li>
                </ul>
            </div>
			
			<!-- Client 6 -->
            <div class="testimonial">
                <ul class="w3-animate-right">
                    <li>"Just wanted to say a BIG thank you for the excellent banner produced in such a short space of time. It is much appreciated and will most definitely capture peoples attention at forthcoming events. Once again thank you for your efficiency and patience."
                    <li class="w3-margin-top">AFP Project Officer</li>
                    <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star grey"></i></li>
                </ul>
            </div>
			
			<!-- Client 7 -->
            <div class="testimonial">
                <ul class="w3-animate-right">
					<li>"Thanks so much for sorting us out on this job. The client was extremely pleased with the roll ups and podiums, as were we, and thanks too for all your running around before hand with umpteen samples. It all went remarkably smoothly given the number of companies/logos etc involved."</li>
                    <li class="w3-margin-top">Skybridge Group</li>
                    <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star grey"></i></li>
                </ul>
				
            </div>

        </div> <!-- End testimonial slide -->	

