/*------------------------------------------------------------------ IMPORT FILES -------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Marko+One");

/* ========================== RESET ========================== */
/* Defaults for elements */
html, body, h1, h2, h3, h4, h5, h6, p, section, article, ol, ul, li, a, table, th, tr, td, dl, dt, dd, form, label, legend, input, img, div, header, section, article, main, aside, footer, nav, span, em, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%; }

/* Display HTML 5 elements */
section, article, header, footer, nav, aside, main {
    display: block;
	background: none;
    width: 100%; }

/* Width for table */
table { width: 100%; }

/* Border for elements */
img, fieldset, form, input, .w3-ul { border: none; }

/* Lists */
ul, ol, li { list-style-type: none; }

/* Links */
a { text-decoration: none; }

/* Text decoration and cursor for links */
a:hover { /* Set cursor for hover over link */
	text-decoration: none;
	cursor: pointer; }

html { scroll-behavior: smooth; }

/* Body */
body { 
	letter-spacing: 1px; 
	text-align: justify;
	font-size: 16px; }

.w3-white { color: #3f3f3f !important; }

.lower-section .w3-row-padding { padding: 0px; }

/* H2 */
h2 { 
	font-size: 1.35em;
	font-family: 'Marko One';
	text-align: left;
	color: #00345f}

/* Main large */
#main-large { display: none; }

/* ---------------------------- Skips links ---------------------------- */
#toTop { 
    border-radius: 100%;
    color: #fff;
    background: #fff;
    border: 1px solid #041d42;
    position: fixed;
    right: 20px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    padding: 5px 10px 10px 9px; 
    font-size: 20px; 
    display: none; 
    opacity: 0.3; }

#toTop:hover { opacity: 1; }

#toTop a:hover { color: white}

#toTop i { 
    font-size: 22px; 
    padding-bottom: 8px;
    color: #041d42; }

/* Assessibility and skiplinks position */
.skip-link, .aria, summary {
	color: #ffffff;
	position: absolute;
    left: -9999px; } 

/* ---------------------------- Header ---------------------------- */
header p { 
	color: #818285;
	display: inline;
	margin-top: 30px;
	padding: 0px 00px 0px 60px; 
	font-size: 1.3em; }

header img { width: 120px; }

/* ---------------------------- Navigation ---------------------------- */

#mySidebar img, #mySidebar-large img { display: none; }

#mySidebar, #mySidebar-large { 
	top: 0; 
	background: #000;
	background: #424905;
	background: #00345f;
	opacity: 1; 
	filter: alpha(opacity=90); /* For IE8 and earlier */ 
    border-top: 1px solid #3f3f3f; 
    border-right: 1px solid #000000; 
    border-bottom: 1px solid #3f3f3f; 
    box-shadow: 0px 0px 10px 0px black; }

#mySidebar { 
	right: 0; 
	z-index: 13;
	width: 320px !important; }

.w3-sidebar a { 
	font-size: 0.8em; 
	font-family: 'Marko One';
	color: white; }

.w3-sidebar a:hover { 
	color: white;}

#mySidebar-large a { font-size: 0.8em; }

#mySidebar a:hover, #mySidebar-large a:hover, .active { background: #be2230 !important; color: #fff !important}

#showSidebar { 
	color: white; 
	padding: 6px;
	background: none; 
	margin: 0px 17px 0px 0px; }

#close-button { 
	padding: 8px;
	margin: 5px 0px 0px 0 }

#close-button, #close-button:hover { 
    background: #00345f;
    opacity: 100; 
    filter: alpha(opacity=100); /* For IE8 and earlier */ 
    border-right: 1px solid #00345f; }

#small-nav { 
	position: fixed;
	background: #00345f;
	top: 0;
	width: 100%;
	z-index: 10;
	margin-left: 250px;
    color: #fff; }

#mini-logo { 
	width: 75px;
	text-align: center; }

.mySidebar #small-nav i { 
	color: white; 
}

#small-nav .w3-btn { font-size: 30px !important; }

/* ---------------------------- topbar ---------------------------- */
/* Column 1 */
#col1 { background: #a7ae64; }

/* Column 2 */
#col2 { background: #be2230; }

/* Column 3 */
#col3 { background: #652f8f; }

/* Column 4 */
#col4 { background: #ec6e2b; }

/* ---------------------------- Banner ---------------------------- */
.slogan { 
	color: grey;
	font-size: 0.8em;  
	margin-top: 70px !important; }

.banner {  
	background: linear-gradient(to left, #424905, #a7ae64, #a7ae64);
	background: #ffffff;
    width: 100%; }

.w3-display-middle, .banner img, .stroke { width: 100%; }

.stroke {
	position: relative; 
	margin-bottom: -10px;
	bottom: 0 !important; }

.banner h1 { 
	font-family: 'Risque';
	font-family: 'Marko One';
	font-size: 1.5em !important; 
	width: 80%;
	margin: 0 auto;
	color: #fff; }

#small-nav img, .banner1 img { border: none; }

/* ---------------------------- Images ---------------------------- */
img { border-radius: 4px; }

#nav-box img { 
	border: none; 
	width: 600px; }

.upper-section img { border: none; }

/* ---------------------------- Testimonials ---------------------------- */	
#testimonial-container, #testimonial-container-large { 
    border-radius: 3px;
	background: #be202e; 
	padding: 1px; 
	margin-bottom: 30px;
	overflow: hidden;
	margin: auto; }

.testimonials { 
	padding-top: 10px; 
	padding-bottom: 10px; }

#testimonial-container h2, #testimonial-container-large h2 { 
	margin-top: 0px; }

.testimonials .testimonial i { color: gold; } 
.testimonials .testimonial .grey { color: lightgrey; } 

.testimonial li:nth-of-type(2) { 
	color: #adadad;
	font-style: italic;
	font-size: 16px; } 
	
.testimonial-content {
	overflow: hidden; 
	background: white;
	border-radius: 0px 0px 3px 3px;
	height: 300px; }

.w3-right { margin-top: -15px;}

/* ---------------------------- Main ---------------------------- */
#main-large { display: none; }

#main { display: block; }

.main-content {
    background: #ffffff; 
    color: #000000; }

.main-container img { width: 80%; }

#index-image { 
	width: 100% !important; 
	margin-bottom: 15px; }

.page-image img { 
	width: 100%; 
	margin-bottom: 15px; }

#left-col-small { width: 100%; }

#right-col-small { width: 100%; }

.w3-white { padding: 10px; }

h2 { 
	margin-top: 20px; 
	font-size: 1.3em; }

.lower-section { 
	background: #a6b137;
	background: #a7ae64;
	padding: 0px; }

.lower-section .w3-container { padding: 10px; }

.lower-section div img { margin-top: 15px; }

.lower-section img { 
	width: 100%; 
	margin-top: 15px;
	margin: auto; }

#image3 { border:none; }

#lower-img { margin-top: -50px; }

#stand1, #stand2 { 
	width: 70%; 
	margin-left: 50px; }

.list-spec li {  
	list-style-type: disc;
	padding-top: 5px;
	margin-left: 25px; }

#contact, #contact-large, #contact-container { 
	background: #f16b23;
	border-radius: 5px; }

#contact-container { border-radius: 0px; }

#contact-container li, #contact-container a { font-size: 0.85em; }

#contact-container dl { 
	border-bottom: 1px solid white; 
	width: 100%; }

#contact-container .w3-badge,
#contact .w3-badge, #contact-large .w3-badge { 
    background: #fff; 
    width: 30px;
    height: 30px;
    margin: 10px; }

#contact .w3-badge i, #contact-large .w3-badge i { 
    color: darkorange;
    font-size: 18px;
    margin-top: 6px; 
    margin-left: -2px; }

#contact .w3-badge .fa-phone { 
    color: darkorange;
    margin-top: 6px; 
    margin-left: 0px; }


#contact .w3-badge i:hover, #contact-large .w3-badge i:hover { color: #cb6f00; }

.right-col, #contact, #contact-large { margin-top: 15px; }

/* ---------------------------- Contact Page ---------------------------- */
.main-content-large h2:nth-of-type(2), .main-content-large h2:nth-of-type(3) { margin-top: 40px !important; } 
	
#contact-form, #contact-form2 { 
	background: #2e5083;
    margin-top: 20px;
    margin-bottom: 25px;
	border-radius: 3px; }

#contact-form label, #contact-form2 label { 
	display: none;
	color: white; }

#contact-form input, #contact-form2 input { color: black; }

form input:focus { 
	border: 2px solid #f16b23; 
	color: black; }

/* Map container */
#map-container, #map-container2 { 
	margin-top: 10px; 
	width: 100%; 
	color: #000; }

/* Styling for map canvas */
#map-canvas, #map-canvas2 {
    width: 100%;
    height: 400px;
	border: 1px solid #3f3f3f;
	border-radius: 3px; }

/* Styling for map canvas */
#map-canvas h4, #map-canvas2 h4 {
    margin-top: 10px; }

.ratings { 
	margin-top: 10px;
	color: gold !important; }

#map-canvas img, #map-canvas2 img {
	margin: 0px !important;
}

#map-canvas p, #map-canvas2 p {
	margin-top: 10px !important;
}

::placeholder { 
	color: grey; 
	font-style: italic; }

#register, #register2 { background: #f16b23; }

#register:hover, #register2:hover { 
	box-shadow: 0px 1px 6px black;
	font-weight: 700; }

/* ---------------------------- Register Form ---------------------------- */
#register-form {
	display: none;
	padding-top: 80px !important;
	background: rgba(0, 0, 0, 0.8) /* Green background with 30% opacity */; }

.w3-modal-content {
	padding: 20px 30px;
}

#closeForm { 
	margin-top: 25px;
	font-size: 22px; }

#register-form h1 { 
	margin: 40px 0px 10px 0px; 
	color: #2e5083; 
	font-size: 2em;
	font-weight: bold; }
	
#register-form i { color: black; }

#register-form label { margin-top: 20px; }
 
#register-form h3 { 
	font-weight: bold;
	background: #fff;
	margin-top: 30px;
	color: #2e5083;
	padding-bottom: 10px; }

.hidden-field { display: none; }

input[type=text] { font-weight: 100; }

.option { 
	font-size: 0.8em;
	font-weight: 100;  }

#terms, #opt-in-1, #opt-in-2 { width: 12px; }

#submit { 
	padding: 10px 30px 10px 30px;
	color: white;
	width: 100%;
	background: #2e5083; 
	border-radius: 10px;
	margin: 30px 0px 15px 0px; }

#register-form .w3-btn:hover { 
	box-shadow: 0px 0px 0px 0px; }

/* ---------------------------- Footer ---------------------------- */
#footer { 
	padding: 20px;
	clear: both; }

footer a { 
	padding-right: 20px;
	color: #ffffff; }

footer #copyright { margin-top: 40px !important; }

/* ---------------------------- End CSS ---------------------------- */

/* ---------------------------- MEDIA QUERIES ---------------------------- */
/* Tablet */
@media only screen and (min-width: 520px) {
	
	.slogan { font-size: 1em; }
	
	#small-nav .w3-btn { font-size: 35px !important; }
	
	.banner h1 { 
		font-size: 2em !important; 
		margin-left: 10px; 
		width: 70%; }
	
#register-form h1 { 
	
	font-size: 1.6em; }
	
	#testimonialsh2 .w3-container { 
        padding: 0px 10px 0px 10px;
        height: 300px; } 
    
    #left-col-small { width: 48%; }
	
	.upper-section h2 { 
		margin-top: 30px; 
		font-size: 2em; }
    
    .lower-section { padding-top: 20px; }

    #left-col-small img { width: 100%; }
	
	#register-form { 
		font-size: 14px; }
	
	#contact-large, #contact-container { 
		border-radius: 5px 0px 0px 0px;
		margin-bottom: 15px; }
	
	#contact { 
		width: 100%;
		padding: 20px 100px;
		margin-bottom: 20px;
		border-radius: 5px; }
	
	#contact .w3-badge i, #contact-large .w3-badge i { 
		margin-top: 3px; 
		margin-left: -2px; }

	#contact .w3-badge .fa-phone { 
		margin-top: 6px; 
		margin-left: 0px; }
	
	.fa-envelope { padding-top: 2px; }
	
	#map-canvas, #map-canvas2  { margin-top: -5px; }
}

/* Dssktop */
@media only screen and (min-width: 991px) {
	
	body { 
        background: #dadada; }
	
	#page { 
		max-width: 1400px; 
		margin: auto; }
	
	.topbar { 
		padding: 0px;
		margin-bottom: -18px; }
	
	.topbar div { height: 10px; }
	
	.topbar #col4 { 
		margin-top: -30px;
		padding: 10px 0px 10px 0px;
		height: 40px; }
	
	.topbar i { 
		font-size: 20px; }
	
	/* ---------------------------- Navigation ---------------------------- */
	#mySidebar-large { 
		position: absolute;
		background: none;
		box-shadow: 0px 0px 0px 0px;
		height: auto;
		border: none;
		padding: 20px; 
		transform: rotate(-10deg); }
    
	#mySidebar-large a { 
		width: 300px;
		font-family: 'Marko One';
		font-size: 0.8em; }
	
	#mySidebar-large  { 
		width: 400px;
		padding-top: 0px; }
	
	#nav-box, #nav-box-contact {
		height: 550px;
		transform: rotate(10deg);
		margin-top: 45px; 
		margin-bottom: -100px; 
		margin-left: -40px; }
	
	#nav-box img { 
		margin-top: -90px;
		width: 480px; }	
	
	/* ---------------------------- Main ---------------------------- */
	#main-large { display: block; }

	#main { display: none; }
	
	.main-content-large { 
		border-radius: 4px 0px 0px 4px;
		box-shadow: 0px 0px 6px 0px #7a8602;
        background: #ffffff;
        padding: 20px; }
	
	.content-large h2 { 
		text-align: left !important; }
	
	#main-large { 
		background: #a6b238;
		background: -webkit-linear-gradient(left, #5a6028, #a7ae64, #a7ae64);
		/* For Opera 11.1 to 12.0 */
		background: -o-linear-gradient(left, #5a6028, #a7ae64, #a7ae64);
		/* For Fx 3.6 to 15 */
		background: -moz-linear-gradient(left, #5a6028, #a7ae64, #a7ae64);
		/* Standard syntax */
		background: linear-gradient(to right, #5a6028, #a7ae64, #a7ae64);
		display: block; 
		margin-top: 20px; }
		
	#register-form h1 { 
		font-size: 2em; }

	#left-col, #main-contact-large { 
		float: left;
		width: 60%; }
	
	#left-col h2 { 
		margin-top: 80px !important; }
	
	#left-col img { 
		margin-top: 10px !important; }
	
	#image-right { 
		float: right; 
		width: 60%;
		height: auto;
		transform: rotate(-10deg); }	
	
	#form-right { 
		transform: rotate(-10deg);
		margin: 0; }
	
	#index-image img {
		width: 100%
	}

	#contact .w3-badge i, #contact-large .w3-badge i { 
		margin-top: 6px; 
		margin-left: 0px; }

	.imageSlide2 { 
		max-width: 500px;
		height: 100%; }
	
	.right-col { 
		float: right;
		width: 40%;
		padding-right: 0px; }
	
	#lite-img { 
		width: 250px;
		margin-left: 20px; }
	
	#contact, #contact-large, #contact-container { border-radius: 5px 0px 0px 5px; }
	
	.w3-modal-content { 
		max-width: 50em;
		height: auto; }

	#closeForm { 
		margin-top: 30px;
		margin-right: -15px;
		font-size: 22px; }
	
	/* ---------------------------- Contact page ---------------------------- */
	#left-col form { 
		width: 100%;
		margin-top: 35px; 
		margin-left: 380px; }	
	
	#contact-large { 
		padding-top: 10px;
		padding-right: 5px; }
	
	#map-canvas img, #map-canvas2 img {
		margin: 0px !important;
	}
}

/* ---------------------------- END MEDIA QUERIES ---------------------------- */